# parcel
.cache/
dist/

# github
.github/

# husky
.husky/

# playground
playground/

# eslint
.eslintignore
.eslintrc.js

# lint-staged
.lintstagedrc

# pretter
.prettierignore
.prettierrc

# typescript
tsconfig.json
