name: build and deploy gh-pages
on:
  push:
    branches:
      - master
jobs:
  build_and_deploy:
    name: build and deploy gh-pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - name: use node.js@12.x
        uses: actions/setup-node@main
        with:
          node-version: 12.x

      - name: build react-lrc
        run: |
          npm install
          npm run build

      - name: build example and deploy gh-pages
        env:
          ACCESS_TOKEN: ${{secrets.TOKEN}}
          PUBLIC_URL: /react-lrc
        run: |
          cd example
          npm install
          npm run build
          cd build
          git init
          git config --local user.name mebtte
          git config --local user.email hi@mebtte.com
          git remote add origin https://$ACCESS_TOKEN@github.com/$GITHUB_REPOSITORY.git
          git checkout -b gh-pages
          git add --all
          git commit -m "deploy gh-pages"
          git push origin gh-pages -f
